<div class="row displayNone" id="aboutUsContent">
  <div class = 'col-6'>
    <%= image_tag("paulo.jpg", class: 'aboutUsImg1') %>
  </div>
  <div class="col-6 aboutUsContent1">
        <h3> I never turn down a dick. <br>
        So stoping being shy  <br>
        and put it in my mouth <br>
        - Paulo Arujo <br> 
        Creative Director
        </h3>
    </div>
</div>