<div class = 'col-md-6 col-12  audioBG' id='audioPage'>
    <div>
        <div class = 'audioText'>
            <h1 class= 'audioWords audioTextVert' id='audioWords'>VOICE</h1>
        </div>
        <div class ='displayNone' id='audioResume'>
            <div class = 'audioContainer' id = 'audio1'>
            </div>  
            <div class = 'audioContainer' id = 'audio2'>
            </div>  
        </div>
    </div>
</div>