<div class = 'videoContainer' id = 'video1'>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('video1', {
            height: '80%',
            width: '80%',
            videoId: '1l-pZrfbqy8', // Example video ID
            events: {
                'onStateChange': function(event) {
                var player1 = document.getElementById('video1')
                        
                if (event.data == YT.PlayerState.PLAYING) {
                       
                    player1.classList.add('videoHeight')    
                }
                if (player.getPlayerState() == -1 ||  player.getPlayerState() == 0  || player.getPlayerState() == 2  ) {
                    player1.classList.remove('videoHeight')
                }
                }
            }
            });
        }
    </script>
</div>   
 